article.card {
  h2 {
    margin-block-start: var(--s-4);
    margin-block-end: var(--s-1);
  }
  a {
    text-decoration: none;
    position: relative;
    /* display: inline-block; */

    /* Hover animation */
    transition: color 0.17s ease-out;
    &:hover {
      color: var(--color-accent-dark);
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      background: var(--color-accent-light);
      border: 3px solid var(--color-accent-light);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.17s ease-out;
      z-index: -10;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}
