/**
 */

:root {
  /* --cb-primary-1: oklch(0.8875 0.1782 164.46); */
  --cb-primary-1: #abf0c5;
  --cb-primary-2: oklch(0.6732 0.1238 166.33);
  --cb-secondary-1: oklch(0.9267 0.0362 252.08);
  --cb-secondary-2: oklch(0.7574 0.0877 252.6);
  --cb-secondary-3: oklch(0.6281 0.0942 251.84);
  /* These are too low contrast to use safely */
  /* --cb-primary-3: oklch(0.4817 0.0475 170.17); */
  /* --cb-secondary-4: oklch(0.5334 0.0493 251.83); */
  /* --cb-secondary-5: oklch(0.4127 0.0183 251.37); */
  --cb-background: oklch(0.2653 0.0181 251.93);
  /* AAF0C5 */
  /* F0E3AA */
  /* F0AEAA */
  /* ABAAF0 */

  --cb-value: ;
  --cb-token: ;
  --cb-identifier: ;
  --cb-comment: ;
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--cb-primary-1);
  background: none;
  font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--cb-background);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--cb-comment);
}

.token.punctuation {
  color: var(--cb-tokent);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--cb-identifier);
}

.token.number,
.token.string,
.token.char,
.token.boolean {
  color: var(--cb-value);
}

.token.selector,
.token.attr-name,
.token.builtin,
.token.inserted {
  color: var(--cb-value);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--cb-primary-2);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: var(--cb-secondary-3);
}

.token.keyword {
  color: var(--cb-primary-3);
}

.token.regex,
.token.important {
  color: #ebcb8b;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
