.prose {
  :is(h1, h2, h3, h4, h5, h6) {
    margin-block-start: var(--s3);
  }

  p {
    max-inline-size: var(--measure);
    margin-block: var(--s1);
  }

  img {
    margin-block: var(--s1);
    --gap: var(--s2);
  }

  blockquote {
    font-style: italic;
    padding-left: var(--s1);
    border-inline-start: 2px solid var(--color-accent-med-light);

    @mixin dark-mode {
      border-inline-start: 2px solid var(--color-accent-light);
    }
  }

  hr {
    margin-block: var(--s3);
  }
}
