---
import { getPublishedPostsBySection } from '@lib/posts';
import DefaultLayout from '@layouts/Default.astro';
import Card from '@components/Card.astro';

const posts = (await getPublishedPostsBySection('post')).slice(0, 3);
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
---

<DefaultLayout title="404 — Christopher Bennell">
  <article-list>
    <h1>404 Not Found</h1>
    <p class="deck">There's no page at “<code>/{pathname}</code>”. Here are a few recent articles.</p>
    {
      posts.map((post) => (
        <Card post={post} />
      ))
    }
  </article-list>
</DefaultLayout>
