---
import { getPublishedPostsBySection } from '@lib/posts';
import DefaultLayout from '@layouts/Default.astro';
import Card from '@components/Card.astro';

const posts = (await getPublishedPostsBySection('post')).slice(0, 3);
---

<DefaultLayout title="404 — Christopher Bennell">
  <article-list>
    <h1>404 Not Found</h1>
    <p class="deck">There's no page at “<code id="requested-path"></code>”. Here are a few recent articles.</p>

    {
      posts.map((post) => (
        <Card post={post} />
      ))
    }
  </article-list>
</DefaultLayout>

<script is:inline>
  // We don't use Astro.url.pathname because of the the way Cloudflare does 404 redirects
  document.getElementById("requested-path").textContent = window.location.pathname;
</script>
