---
import { getPublishedPosts } from '@src/lib/posts';
import DefaultLayout from '@layouts/Default.astro';
import Card from '@components/Card.astro';

const posts = await getPublishedPosts();
---

<DefaultLayout>
  <article-list>
    <h1>Articles</h1>
      {
        posts.map((post) => (
          <Card post={post} />
        ))
      }
  </article-list>
</DefaultLayout>
