---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer.astro';
import Masthead from '@components/Masthead.astro';
import Navigation from '@components/Navigation.astro';
import Card from '@components/Card.astro';

const posts = (await getCollection('blog', ({ data }) => data.status == 'published')).sort(
// const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
    <a href="#main-content" class="skip-to-content">Skip to content</a>
    <header>
      <Masthead />
			<Navigation />
    </header>

    <main id="main-content" tabindex="-1">
			<article-list>
				<h1>Articles</h1>
					{
						posts.map((post) => (
							<Card post={post} />
						))
					}
			</article-list>


    </main>

		<Footer />
	</body>
</html>
