---
import { getPublishedPostsBySection } from '@lib/posts';
import DefaultLayout from '@layouts/Default.astro';
import Card from '@components/Card.astro';

const posts = await getPublishedPostsBySection('lab');
const description = 'Projects, experiments, ideas in progress.';
---

<DefaultLayout title="Lab" description={description}>
  <article-list>
    <h1>Lab</h1>
    <p class="deck">{description}</p>
    {
      posts.map((post) => (
        <Card post={post} />
      ))
    }
  </article-list>
</DefaultLayout>
