---
import { getPublishedPostsBySection } from '@lib/posts';
import { SITE_TITLE } from '@src/consts';
import DefaultLayout from '@layouts/Default.astro';
import Card from '@components/Card.astro';

const posts = await getPublishedPostsBySection('lab');
const description = 'Projects, experiments, ideas in progress.';
---

<DefaultLayout title={`Lab — ${SITE_TITLE}`} description={description}>
  <article-list>
    <h1>Lab</h1>
    <p>{description}</p>
    {
      posts.map((post) => (
        <Card post={post} />
      ))
    }
  </article-list>
</DefaultLayout>
