---
import { getPublishedPostsBySection } from '@lib/posts';
import DefaultLayout from '@layouts/Default.astro';
import Card from '@components/Card.astro';

const posts = await getPublishedPostsBySection('lab');
---

<DefaultLayout>
  <article-list>
    <h1>Lab</h1>
    <p>Projects, experiments, ideas in progress.</p>
    {
      posts.map((post) => (
        <Card post={post} />
      ))
    }
  </article-list>
</DefaultLayout>
