---
import { Image } from 'astro:assets';
import { SITE_DESCRIPTION, SITE_TITLE } from '@src/consts';
import portrait from '@assets/portrait.jpeg';
---

<masthead aria-labelledby="site-title">
  <a href="/" rel="home">
    <Image src={portrait} alt="" loading="eager" />

    <h1 id="site-title">{SITE_TITLE}</h1>
  </a>

  <p>{SITE_DESCRIPTION}</p>
</masthead>

