---
import { Image } from 'astro:assets';
import { SITE_DESCRIPTION, SITE_TITLE } from '@src/consts';
import portrait from '@assets/portrait.jpeg';

const siteURL = Astro.site?.toString();
---

<masthead aria-labelledby="site-title">
  <a href={siteURL} rel="home">
    <Image src={portrait} alt="" />

    <h1 id="site-title">{SITE_TITLE}</h1>
  </a>

  <p>{SITE_DESCRIPTION}</p>
</masthead>

