---
import { slugifyTag } from '@lib/tags';

interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{tags && tags.length > 0 && (
  <tag-list>
    {tags.map((tag: string) => (
      <tag>
        <a href={`/tag/${slugifyTag(tag)}`} class="tag" rel="tag">
          {tag}
        </a>
      </tag>
    ))}
  </tag-list>
)}
