---
import type { CollectionEntry } from 'astro:content';
import type { ImageMetadata } from 'astro';
import { SITE_TITLE } from '@src/consts';
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer.astro';
import Masthead from '@components/Masthead.astro';
import Navigation from '@components/Navigation.astro';

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
const { title, description, heroImage } = post.data;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`${title} — ${SITE_TITLE}`}
      description={description ?? ''}
      image={heroImage as ImageMetadata | undefined}
    />
  </head>
  <body>
    <a href="#main-content" class="skip-to-content">Skip to content</a>
    <header>
      <Masthead />
      <Navigation />
    </header>

    <main id="main-content" tabindex="-1">
      <slot />
    </main>

    <Footer />
  </body>
</html>
